<!-- views/profile.hbs -->
<div>
 
 <div id="mapdiv">
   <div id="mapid"></div>
   {{!-- <div id='geocoder' class='geocoder'></div> --}}
 </div>
 

  {{#if user}}

  <p> Hello, {{user.name}}. </p>


  <div>
    {{!-- <form   id="editPostForm" action="/profile/edit" method="post"> --}}
    <form class="ui form" action="/post/edit" method="post"></form>

      <div class="field">
        
        <label>Who are you?</label>
        <input type="text" name="name" value="{{post.name}}">
      </div>

      <div class="field">

        <label>Where are you?</label>
        <input type="text" name="location" placeholder="ex: Miami, Florida" id="address" value="{{post.location.name}}">
      </div>
      <div class="field">
        <label>Who're you thinking of?</label>
      {{!-- <div class="ui left icon input"> --}}
        <input type="text" name="tagged" placeholder="Gary...?" value="{{post.tagged}}">
        {{!-- <i class="users icon"></i> --}}
      {{!-- </div> --}}
      </div>
      <div class="field">
        <label>Where are they?</label>
        <input type="text" id="tagLocation" name="tagLocation" placeholder="ex: Sydney, Australia" onBlur="geocode()" value="{{post.tagLocation.name}}">
      </div>
      <div class="field">
        <label>Anything else? <i>Optional.</i></label>
        <input type="text" name="comment" placeholder="Miss you!" value="{{post.comment}}">
      </div>
      <input type="hidden" id="latitude" name="userLatitude">
      <input type="hidden" id="longitude" name="userLongitude">
      
      <input type="hidden" id="tagLatitude" name="tagLatitude">
      <input type="hidden" id="tagLongitude" name="tagLongitude">
      <button class="ui button" type="submit">Post!</button>
    </form>
  </div>



{{/if}}

</div>