<!-- views/profile.hbs -->
<div>
 
 <div id="mapdiv">
   <div id="mapid"></div>
   <div id='geocoder' class='geocoder'></div>
 </div>
 

  {{#if user}}

  <p> Hello, {{user.name}}. </p>


  <div>
    <form class="ui form"  id="postForm" action="/profile" method="post">

      <div class="field">
        
        <label>Who are you?</label>
        <input type="text" name="name" value={{user.name}}>
      </div>

      <div class="field">

        <label>Where are you?</label>
        <input type="text" name="location" placeholder="Miami, Florida" id="address">
      </div>
      <div class="field">
        <label>Who're you thinking of?</label>
      {{!-- <div class="ui left icon input"> --}}
        <input type="text" name="tagged" placeholder="Search users...">
        {{!-- <i class="users icon"></i> --}}
      {{!-- </div> --}}
      </div>
      <div class="field">
        <label>Where are they?</label>
        <input type="text" id="tagLocation" name="tagLocation" placeholder="Sydney, Australia">
      </div>
      <div class="field">
        <label>Anything else? <i>Optional.</i></label>
        <input type="text" name="comment" placeholder="Miss you!">
      </div>
      <button class="ui button" type="submit">Post!</button>
    </form>
  </div>

{{/if}}


<div class="ui cards">
  {{#each posts}}
  <div class="card style-card">
    <div class="content">
      {{!-- <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg"> --}}
      <div class="header">
        {{this.name}} in {{this.location}}
      </div>
      <div class="meta">
        is thinking of {{this.tagged}} in {{this.tagLocation}}
      </div>
      <div class="description">
        {{this.comment}}
      </div>
    </div>
    {{!-- <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button">Accept</div>
        <div class="ui basic red button">Decline</div>
      </div>
    </div> --}}
  </div>
<script>
  callPopUp();
</script>


  {{else}}
  <div>
    <p>There are no posts yet!</p>
  </div>
{{/each}}
</div>